.DS_Store
node_modules
packages/*/node_modules
packages/*/lib
packages/*/dist
packages/*/out
packages/*/stats.html
packages/jsonforms-vuetify-tooling/.vscode-test
packages/jsonforms-vuetify-tooling/jsonforms-vuetify-tooling-*.vsix
