@font-face {
  font-family: Hallelujah;
  src: url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
}

.v-application__wrap {
  min-height: 0px;
  font-family: Hallelujah, cursive;
}
